*.rar
td1/.idea/workspace.xml
td1/.idea/workspace.xml
untitled/.idea/jsLibraryMappings.xml
untitled/.idea/misc.xml
untitled/.idea/td1-2.iml
*.xml
td1/.idea/workspace.xml
td1/.idea/workspace.xml
*.iml
td1/.idea/workspace.xml
*.name