<!DOCTYPE html>
<html  lang="fr-fr" data-ng-app="CurrencyApp">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js"></script>
    <script src="app/CurrencyApp.js"></script>

    <script src="app/CurrencyController.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body data-ng-controller="CurrencyController as currencyCtrl">

    <div class="panel panel-primary" data-ngcloak="">
        <div class="panel-heading">Ex 3 : Currency Application</div>
        <div class="panel-body">

            <form class="form-group form-inline">
                <input class="form-control" type="number" size="5" placeholder="1" data-ng-model="currencyCtrl.what"/>
                <select data-ng-options="v.code + ' - ' + v.name for (k,v) in currencyCtrl.currencies" data-ng-model="currencyCtrl.from" class="form-control ng-pristine ng-valid ng-touched">
                </select>
                <a href="#" data-ng-click="currencyCtrl.swap()">↔</a>
                <select  data-ng-options="v.code + ' - ' + v.name for (k,v) in currencyCtrl.currencies" data-ng-model="currencyCtrl.to" class="form-control ng-pristine ng-valid ng-touched">
                </select>
                <input type="button" value="Convertir" class="btn btn-primary" size="5" data-ng-click="currencyCtrl.getResult()">
                <input type="text" class="form-control" data-ng-model="currencyCtrl.result" size="5" readonly="readonly">
                <input type="checkbox" data-ng-model="currencyCtrl.affHisto"/>Historique
            </form>



        </div>
        <div class="container-fluid" data-ng-show="currencyCtrl.affHisto">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody><tr>
                            <th>De</th>
                            <th>En</th>
                            <th class="text-center">Tx</th>
                            <th class="text-center">Montant</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Delta</th>
                            <th></th>
                        </tr>
                        <tr class="animate-repeat ng-scope" data-ng-repeat="conversion in currencyCtrl.historique"  data-ng-class="{'info':conversion.update,'danger': conversion.delta<0,'success':conversion.delta>0}">
                            <td class="ng-binding">{{conversion.from}}</td>
                            <td class="ng-binding">{{conversion.to}}</td>
                            <td class="text-center ng-binding">{{conversion.rate}}</td>
                            <td class="text-center ng-binding">{{conversion.amount}}</td>
                            <td class="text-center ng-binding">{{conversion.date}}</td>
                            <td class="text-center ng-binding">{{conversion.delta}}</td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <form class="form-inline ng-valid ng-dirty ng-valid-parse" style="">
                                    <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox" title="Auto-refresh" class="ng-valid ng-dirty ng-valid-parse ng-touched" style="">
                                    </span>
                                        <input type="number" class="form-control ng-pristine ng-untouched ng-valid"">
                                        <span class="input-group-btn">
                                    <button class="btn btn-primary"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                    </span>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        </tbody></table>
                </div>
            </div>

        </div>
    </div>
</body>
